table#sinine{
    BORDER: 1px solid blue;
    width: 30%;
    height: 200px;
}
table#sinine td{
    border: 1px solid blue;
    text-align: center;
}

table#punane{
    BORDER: 1px solid red;
    width: 30%;
    height: 200px;
    border-collapse: collapse;
}
table#punane td{
    border: 1px solid red;
    text-align: center;
}

table#roheline{
    BORDER: 1px solid green;
    width: 50%;
    height: 150px;
    border-collapse: collapse;
}
table#roheline td{
    border: 1px solid green;
    text-align: center;
}
/*pseudoelementide kasutamine*/
/*1.rida 1.lahter*/
#sinine tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
/*1.rida 2.lahter*/
#sinine tr:nth-child(1) td:nth-child(2){
    background-color: yellow;
}
/*2.rida */
#sinine tr:nth-child(2) {
    background-color: gray;
}

table#keeruline{
    BORDER: 1px solid green;
    width: 50%;
    height: 150px;
    text-align: center;
}

#keeruline tr:nth-child(1) td:nth-child(1){
    background-color: green;
}
#keeruline tr:nth-child(1) td:nth-child(2){
    background-color: green;
}

#keeruline tr:nth-child(2) td:nth-child(1){
    background-color: pink;
}
#keeruline tr:nth-child(2) td:nth-child(2){
    background-color: pink;
}

#keeruline tr:nth-child(3) td:nth-child(1){
    background-color: brown;
}
#keeruline tr:nth-child(3) td:nth-child(2){
    background-color: brown;
}
#keeruline tr:nth-child(3) td:nth-child(3){
    background-color: brown;
}

#keeruline tr:nth-child(4) td:nth-child(1){
    background-color: yellow;
}
#keeruline tr:nth-child(4) td:nth-child(2){
    background-color: yellow;
}

table#iseseisev{
    BORDER: 1px solid green;
    width: 50%;
    height: 500px;
    text-align: center;
}
table#iseseisev td{
    border: 1px solid green;
    text-align: center;
}

table#iseseisev td:nth-child(1){
    background-color: steelblue;
}

table#iseseisev td:nth-child(2){
    background-color: darkcyan;
}

table#iseseisev td:nth-child(3){
    background-color: cadetblue;
}

table#iseseisev td:nth-child(4){
    background-color: darkslateblue;
}

