div#selgitus{
    background-color: steelblue;
    width: 40%;
    position: absolute;
    top: 100px;
    left: 450px;
    padding: 3%;
}
img{
    border: 3px solid lavender;
    border-radius: 60%;
}